In [144]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re
import sys

In [145]:
!pip install folium
import folium
# import k-means from clustering stage
from sklearn.cluster import KMeans
import urllib, json

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.10.1)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2019.11.28)

In [146]:
##SCRAPPING DISTRICS

#define headers for the request
headers = requests.utils.default_headers()
headers.update({"user-agent": "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.87 Safari/537.36"})

#Wikipedia link for the information to scrap
url = "https://en.wikipedia.org/wiki/Districts_of_Madrid"
req = requests.get(url, headers)
soup = BeautifulSoup(req.content, 'html.parser')

In [147]:
#Finding columns name html style
columns_name = str(soup.center.table.tbody.tr).replace('\n','')

#cleaning tags
columns_string=re.findall('<th>(.+?)<',columns_name)

columns = [list(columns_string)[1],list(columns_string)[3]]
#Transform in a Series to create data frame
columns_name = pd.Series(list(columns))

In [148]:
#finding dataframe values
values = str(soup.center.find_all("td")).replace('\n','')
values = re.findall('>(.+?)</td>',values)

In [149]:
#finding Neighbourhood clean name
neigh = []
for value in values:
    if len(re.findall('>(.+?)</a>',str(value)))<1:
        neigh.append(value)
    else:
        a = re.findall('>(.+?)<',str(value)) #result type is a list
        neigh.append(a[0])

In [298]:
#Define two empty list to get District Name and population
d=[]
h1=[]
h2=[] #h1 will return a nest list, to extract the population in just one list
i=0

for i in range(int(len(neigh)/7)):
    if i==0:
        d.append(neigh[i+1])
        h1.append(re.findall('>(.+?)</span>',str(neigh[i+3])))
        h2.append(int(str(h1[i][i]).replace(',','')))
    else:
        d.append(neigh[i*7+1])
        h1.append(re.findall('>(.+?)</span>',neigh[i*7+3]))
        h2.append(int(str(h1[i][0]).replace(',','')))

        #Creating the df wich contains info about Madrid districts

dicti = {'District Name':d,
         'District Population':h2    
}

mddist = pd.DataFrame(dicti)
mddist.head(10)

         District Name  District Population
0               Centro               131928
1           Arganzuela               151965
2               Retiro               118516
3            Salamanca               143800
4            Chamartín               143424
5               Tetuán               153789
6             Chamberí               137401
7  Fuencarral-El Pardo               238756
8      Moncloa-Aravaca               116903
9               Latina               233808

In [291]:
#Conecting with Comunidad de Madrid official data to get neighborhoods

#Wikipedia link for the information to scrap
url2 = "https://datos.comunidad.madrid/catalogo/dataset/91857345-056b-4aa7-96f5-6310dac619bf/resource/b9cf6d43-79b0-400e-82de-ca00de21f6bb/download/barrios_municipio_madrid.json"
req2 = requests.get(url2, verify=False)
#With the mdjson and District name We can find the Neighborhood
mdjson = req2.json()

mdjson
#mdjson has spaces leading and ending in barrio_nombre and distrito_nombre, let's clean that


for i in range(len(mdjson['data'])):
        for j in mdjson['data'][i]:
            if type(mdjson['data'][i][j])==str:
                mdjson['data'][i][j]=mdjson['data'][i][j].strip()

/opt/conda/envs/Python36/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [281]:
#Now we create 2 empty list, to append distrito_nombre(District Name) & barrio_nombre(Neighborhood) 
#also we use madrid['District Name'] to go through the json

dist = mddist['District Name']
d = [] #district
n = [] #neighborhood
i=0
j=0
for i in range(len(dist)):
    for j in range (len(mdjson['data'])):
        if mdjson['data'][j]['distrito_nombre']==dist[i]:
            d.append(dist[i])
            n.append(mdjson['data'][j]['barrio_nombre'])

#lets create a 2nd df with the new info

mdneigh = pd.DataFrame({'District Name':d,
                       'Neighborhood':n
})
mdneigh.head(10)

  District Name Neighborhood
0        Centro      Palacio
1        Centro  Embajadores
2        Centro       Cortes
3        Centro     Justicia
4        Centro  Universidad
5        Centro          Sol
6    Arganzuela     Imperial
7    Arganzuela  Las Acacias
8    Arganzuela   La Chopera
9    Arganzuela      Legazpi

In [292]:
#Now lets join df madrid with mdneigh 
madrid = pd.merge(mdneigh,mddist,on='District Name')
madrid.head(10)
#Extract data from RentaxNeighborhood.csv from github repository
madridrent = pd.read_csv('https://raw.githubusercontent.com/cazuaje27/BattleofNeighborhoods/master/RentaxNeighborhood.csv', sep=';',skiprows=2,header=1)
madridrent.rename(columns={'Territorio':'Neighborhood','Renta neta media por hogar':'Net Income by Home'}, inplace=True)

#Merge to get all Rent in madrid dataframe

madrid = madrid.merge(madridrent, on=['Neighborhood'], how='inner')
madrid.drop(axis=1, columns=['Orden','Cod. Territorio'], inplace=True)
madrid.head(10)

  District Name     Neighborhood  District Population Net Income by Home
0        Centro          Palacio               131928             34.676
1        Centro      Embajadores               131928             26.000
2        Centro           Cortes               131928             34.953
3        Centro         Justicia               131928             40.315
4        Centro      Universidad               131928             30.702
5        Centro              Sol               131928             30.936
6    Arganzuela         Imperial               151965             41.951
7    Arganzuela          Legazpi               151965             48.935
8    Arganzuela         Delicias               151965             39.648
9    Arganzuela  Palos de Moguer               151965             33.938

-113187756.121

,District Name,Neighborhood,District Population,Orden,Cod. Territorio,Renta neta media por hogar
0,Centro,Palacio,"131,928",69,28079BAR011,34.676
1,Centro,Embajadores,"131,928",112,28079BAR012,26.000
2,Centro,Cortes,"131,928",68,28079BAR013,34.953
3,Centro,Justicia,"131,928",56,28079BAR014,40.315
4,Centro,Universidad,"131,928",84,28079BAR015,30.702
5,Centro,Sol,"131,928",83,28079BAR016,30.936
6,Arganzuela,Imperial,"151,965",50,28079BAR021,41.951
7,Arganzuela,Legazpi,"151,965",31,28079BAR024,48.935
8,Arganzuela,Delicias,"151,965",59,28079BAR025,39.648
9,Arganzuela,Palos de Moguer,"151,965",73,28079BAR026,33.938
10,Arganzuela,Atocha,"151,965",62,28079BAR027,37.939
11,Retiro,Pacífico,"118,516",51,28079BAR031,41.949
12,Retiro,Adelfas,"118,516",36,28079BAR032,45.843
13,Retiro,Estrella,"118,516",22,28079BAR033,58.249
14,Retiro,Ibiza,"118,516",37,28079BAR034,45.561
15,Retiro,Jerónimos,"118,516",6,28079BAR035,84.955
16,Retiro,Niño Jesús,"118,516",13,28079BAR036,69.100
17,Salamanca,Recoletos,"143,800",7,28079BAR041,84.706
18,Salamanca,Goya,"143,800",32,28079BAR042,48.815
19,Salamanca,Fuente del Berro,"143,800",54,28079BAR043,40.504
20,Salamanca,Guindalera,"143,800",35,28079BAR044,46.341
21,Salamanca,Lista,"143,800",34,28079BAR045,47.375
22,Salamanca,Castellana,"143,800",8,28079BAR046,82.811
23,Chamartín,El Viso,"143,424",2,28079BAR051,103.573
24,Chamartín,Prosperidad,"143,424",43,28079BAR052,43.702
25,Chamartín,Ciudad Jardín,"143,424",42,28079BAR053,43.707
26,Chamartín,Hispanoamérica,"143,424",19,28079BAR054,62.635
27,Chamartín,Nueva España,"143,424",10,28079BAR055,80.248
28,Chamartín,Castilla,"143,424",26,28079BAR056,54.870
29,Chamberí,Gaztambide,"137,401",46,28079BAR071,42.608
...,...,...,...,...,...,...
80,Ciudad Lineal,Pueblo Nuevo,"212,529",88,28079BAR152,30.039
81,Ciudad Lineal,Quintana,"212,529",85,28079BAR153,30.422
82,Ciudad Lineal,Concepción,"212,529",71,28079BAR154,34.263
83,Ciudad Lineal,San Pascual,"212,529",48,28079BAR155,42.450
84,Ciudad Lineal,San Juan Bautista,"212,529",24,28079BAR156,56.198
85,Ciudad Lineal,Colina,"212,529",28,28079BAR157,54.247
86,Ciudad Lineal,Atalaya,"212,529",15,28079BAR158,67.826
87,Ciudad Lineal,Costillares,"212,529",18,28079BAR159,65.589
88,Hortaleza,Palomas,"180,462",9,28079BAR161,81.737
89,Hortaleza,Piovera,"180,462",5,28079BAR162,97.254
90,Hortaleza,Canillas,"180,462",58,28079BAR163,39.790
91,Hortaleza,Pinar del Rey,"180,462",75,28079BAR164,33.701
92,Hortaleza,Valdefuentes,"180,462",25,28079BAR166,55.975
93,Villaverde,Butarque,"142,608",86,28079BAR173,30.153
94,Villaverde,Los Rosales,"142,608",96,28079BAR174,28.416
95,Villa de Vallecas,Casco Histórico de Vallecas,"104,421",97,28079BAR181,28.357
96,Villa de Vallecas,Santa Eugenia,"104,421",64,28079BAR182,36.427
97,Vicálvaro,Casco Histórico de Vicálvaro,"70,051",70,28079BAR191,34.498
98,San Blas-Canillejas,Simancas,"154,357",78,28079BAR201,31.368
99,San Blas-Canillejas,Hellín,"154,357",122,28079BAR202,23.535
100,San Blas-Canillejas,Amposta,"154,357",125,28079BAR203,21.842
101,San Blas-Canillejas,Arcos,"154,357",100,28079BAR204,28.111
102,San Blas-Canillejas,Rosas,"154,357",44,28079BAR205,43.369
103,San Blas-Canillejas,Rejas,"154,357",61,28079BAR206,38.203
104,San Blas-Canillejas,Canillejas,"154,357",79,28079BAR207,31.306
105,Barajas,Alameda de Osuna,"46,876",30,28079BAR211,52.281
106,Barajas,Aeropuerto,"46,876",120,28079BAR212,24.254
107,Barajas,Casco Histórico de Barajas,"46,876",91,28079BAR213,29.450
108,Barajas,Timón,"46,876",57,28079BAR214,40.271
109,Barajas,Corralejos,"46,876",17,28079BAR215,65.879