In [127]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re
import sys
!pip install geocoder
import geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 7.1MB/s ta 0:00:011
Requirement already satisfied: future in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: click in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (7.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [2]:
!pip install folium
import folium
# import k-means from clustering stage
from sklearn.cluster import KMeans
import urllib, json

Collecting folium
  Downloading https://files.pythonhosted.org/packages/fd/a0/ccb3094026649cda4acd55bf2c3822bb8c277eb11446d13d384e5be35257/folium-0.10.1-py2.py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 18.3MB/s eta 0:00:01
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/81/6d/31c83485189a2521a75b4130f1fee5364f772a0375f81afff619004e5237/branca-0.4.0-py3-none-any.whl
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.0 folium-0.10.1

In [3]:
##SCRAPPING DISTRICS

#define headers for the request
headers = requests.utils.default_headers()
headers.update({"user-agent": "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.87 Safari/537.36"})

#Wikipedia link for the information to scrap
url = "https://en.wikipedia.org/wiki/Districts_of_Madrid"
req = requests.get(url, headers)
soup = BeautifulSoup(req.content, 'html.parser')

In [4]:
#Finding columns name html style
columns_name = str(soup.center.table.tbody.tr).replace('\n','')

#cleaning tags
columns_string=re.findall('<th>(.+?)<',columns_name)

columns = [list(columns_string)[1],list(columns_string)[3]]
#Transform in a Series to create data frame
columns_name = pd.Series(list(columns))

#finding dataframe values
values = str(soup.center.find_all("td")).replace('\n','')
values = re.findall('>(.+?)</td>',values)

#finding Neighbourhood clean name
neigh = []
for value in values:
    if len(re.findall('>(.+?)</a>',str(value)))<1:
        neigh.append(value)
    else:
        a = re.findall('>(.+?)<',str(value)) #result type is a list
        neigh.append(a[0])

In [5]:
#Define two empty list to get District Name and population
d=[]
h1=[]
h2=[] #h1 will return a nest list, to extract the population in just one list
i=0

for i in range(int(len(neigh)/7)):
    if i==0:
        d.append(neigh[i+1])
        h1.append(re.findall('>(.+?)</span>',str(neigh[i+3])))
        h2.append(int(str(h1[i][i]).replace(',','')))
    else:
        d.append(neigh[i*7+1])
        h1.append(re.findall('>(.+?)</span>',neigh[i*7+3]))
        h2.append(int(str(h1[i][0]).replace(',','')))

        #Creating the df wich contains info about Madrid districts

dicti = {'District Name':d,
         'District Population':h2    
}

mddist = pd.DataFrame(dicti)
mddist

          District Name  District Population
0                Centro               131928
1            Arganzuela               151965
2                Retiro               118516
3             Salamanca               143800
4             Chamartín               143424
5                Tetuán               153789
6              Chamberí               137401
7   Fuencarral-El Pardo               238756
8       Moncloa-Aravaca               116903
9                Latina               233808
10          Carabanchel               243998
11                Usera               134791
12   Puente de Vallecas               227595
13            Moratalaz                94197
14        Ciudad Lineal               212529
15            Hortaleza               180462
16           Villaverde               142608
17    Villa de Vallecas               104421
18            Vicálvaro                70051
19  San Blas-Canillejas               154357
20              Barajas                46876

In [6]:
#Conecting with Comunidad de Madrid official data to get neighborhoods

#Wikipedia link for the information to scrap
url2 = "https://datos.comunidad.madrid/catalogo/dataset/91857345-056b-4aa7-96f5-6310dac619bf/resource/b9cf6d43-79b0-400e-82de-ca00de21f6bb/download/barrios_municipio_madrid.json"
req2 = requests.get(url2, verify=False)
#With the mdjson and District name We can find the Neighborhood
mdjson = req2.json()

mdjson
#mdjson has spaces leading and ending in barrio_nombre and distrito_nombre, let's clean that


for i in range(len(mdjson['data'])):
        for j in mdjson['data'][i]:
            if type(mdjson['data'][i][j])==str:
                mdjson['data'][i][j]=mdjson['data'][i][j].strip()

/opt/conda/envs/Python36/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [7]:
#Now we create 2 empty list, to append distrito_nombre(District Name) & barrio_nombre(Neighborhood) 
#also we use madrid['District Name'] to go through the json


d = [] #district
n = [] #neighborhood
i=0
j=0

for j in range (len(mdjson['data'])):
    if mdjson['data'][j]['distrito_nombre']=='Tetuan':
        d.append('Tetuán')
        n.append(mdjson['data'][j]['barrio_nombre'])
    else:
        d.append(mdjson['data'][j]['distrito_nombre'])
        n.append(mdjson['data'][j]['barrio_nombre'])

#lets create a 2nd df with the new info

mdneigh = pd.DataFrame({'District Name':d,
                       'Neighborhood':n
})
mdneigh

           District Name                  Neighborhood
0                 Centro                       Palacio
1                 Centro                   Embajadores
2                 Centro                        Cortes
3                 Centro                      Justicia
4                 Centro                   Universidad
5                 Centro                           Sol
6             Arganzuela                      Imperial
7             Arganzuela                   Las Acacias
8             Arganzuela                    La Chopera
9             Arganzuela                       Legazpi
10            Arganzuela                      Delicias
11            Arganzuela               Palos de Moguer
12            Arganzuela                        Atocha
13                Retiro                      Pacífico
14                Retiro                       Adelfas
15                Retiro                      Estrella
16                Retiro                         Ibiza
17                Retiro                     Jerónimos
18                Retiro                    Niño Jesús
19             Salamanca                     Recoletos
20             Salamanca                          Goya
21             Salamanca              Fuente del Berro
22             Salamanca                    Guindalera
23             Salamanca                         Lista
24             Salamanca                    Castellana
25             Chamartín                       El Viso
26             Chamartín                   Prosperidad
27             Chamartín                 Ciudad Jardín
28             Chamartín                Hispanoamérica
29             Chamartín                  Nueva España
..                   ...                           ...
98         Ciudad Lineal                       Atalaya
99         Ciudad Lineal                   Costillares
100            Hortaleza                       Palomas
101            Hortaleza                       Piovera
102            Hortaleza                      Canillas
103            Hortaleza                 Pinar del Rey
104            Hortaleza              Apostol Santiago
105            Hortaleza                  Valdefuentes
106           Villaverde                    San Andrés
107           Villaverde                 San Cristobal
108           Villaverde                      Butarque
109           Villaverde                   Los Rosales
110           Villaverde                   Los Angeles
111    Villa de Vallecas   Casco Histórico de Vallecas
112    Villa de Vallecas                 Santa Eugenia
113            Vicálvaro  Casco Histórico de Vicálvaro
114            Vicálvaro                        Ambroz
115  San Blas-Canillejas                      Simancas
116  San Blas-Canillejas                        Hellín
117  San Blas-Canillejas                       Amposta
118  San Blas-Canillejas                         Arcos
119  San Blas-Canillejas                         Rosas
120  San Blas-Canillejas                         Rejas
121  San Blas-Canillejas                    Canillejas
122  San Blas-Canillejas                   El Salvador
123              Barajas              Alameda de Osuna
124              Barajas                    Aeropuerto
125              Barajas    Casco Histórico de Barajas
126              Barajas                         Timón
127              Barajas                    Corralejos

[128 rows x 2 columns]

In [8]:
#Now lets join df madrid with mdneigh 
madrid = pd.merge(mdneigh,mddist,on='District Name')
madrid.head(10)
#Extract data from RentaxNeighborhood.csv from github repository
madridrent = pd.read_csv('https://raw.githubusercontent.com/cazuaje27/BattleofNeighborhoods/master/RentaxNeighborhood.csv', sep=';',skiprows=2,header=1)
madridrent.rename(columns={'Territorio':'Neighborhood','Renta neta media por hogar':'Net Income by Home'}, inplace=True)


#We need to change number format . as thousand separator
#for i in range(len(madridrent['Net Income by Home'])):
    #if madridrent['Net Income by Home'][i]==0:
        #madridrent['Net Income by Home'][i]=int(0)
   # else:
      #  madridrent['Net Income by Home'][i]=int(str(madridrent['Net Income by Home'][i]).replace('.',''))

#Merge to get all Rent in madrid dataframe

madrid = madrid.merge(madridrent, on=['Neighborhood'])
madrid.drop(axis=1, columns=['Orden','Cod. Territorio'], inplace=True)
madrid.head(10)

  District Name Neighborhood  District Population  Net Income by Home
0        Centro      Palacio               131928              34.676
1        Centro  Embajadores               131928              26.000
2        Centro       Cortes               131928              34.953
3        Centro     Justicia               131928              40.315
4        Centro  Universidad               131928              30.702
5        Centro          Sol               131928              30.936
6    Arganzuela     Imperial               151965              41.951
7    Arganzuela  Las Acacias               151965              44.669
8    Arganzuela   La Chopera               151965              31.934
9    Arganzuela      Legazpi               151965              48.935

In [9]:
#Let's read the house price for m2 in Madrid by Neighborhood
#ph = price house
ph = pd.read_excel('https://github.com/cazuaje27/BattleofNeighborhoods/raw/master/HousingPrice2019.xls',sep='/t', skiprows=7)
ph.drop(axis=1, columns=['Unnamed: 0'], inplace=True)
ph.rename(columns={'Unnamed: 1':'Neighborhood', 'Unnamed: 2':'2019 €/m2','Unnamed: 3':'2018 €/m2'}, inplace=True)
ph.dropna(inplace=True)
ph['Neighborhood']=ph['Neighborhood'].str.strip().str.strip('0123456789.').str.strip()

#Now merge the data with madrid df
madrid = madrid.merge(ph, on=['Neighborhood'], how='inner')

In [122]:
#Reading the Madrid geojson to make a map using folium

urlgeojson=('https://raw.githubusercontent.com/cazuaje27/BattleofNeighborhoods/master/Madrid.geojson')
mdgeojson = requests.get(urlgeojson).json()

#Lets check if the District & Neighborhood have the same format that we already have
d2=[]
n2=[]
for i in range(len(mdgeojson['features'])):
    d2.append(mdgeojson['features'][i]['properties']['NOMDIS'])
    n2.append(mdgeojson['features'][i]['properties']['Name'])

mdmap=pd.DataFrame({'District Name':d2,
                    'Neighborhood':n2
                   })
mdmap.describe()

        District Name Neighborhood
count             132          132
unique             21          131
top     Ciudad Lineal       Ambroz
freq                9            2

In [123]:
#Lets change format for District Name
#first we define two series with the unique values of each column
mapdist = mdmap['District Name'].sort_values().unique()
maddist = madrid['District Name'].sort_values().unique()
#empty list for district name corrected
d3=[]

for j,k in zip(range(len(mapdist)),range(len(maddist))):
    for i in range(len(mdgeojson['features'])):
        if mdgeojson['features'][i]['properties']['NOMDIS']==mapdist[j]:
            mdgeojson['features'][i]['properties']['NOMDIS']=maddist[k]

#fill the empty list with the right names                   
for i in range(len(mdgeojson['features'])):
    d3.append(mdgeojson['features'][i]['properties']['NOMDIS'])

mdmap = pd.DataFrame({'District Name':d3,
                    'Neighborhood':n2
                   })

In [140]:
# @hidecell
ApiKey='AIzaSyBKrf3IBPxBM2f2oY4CyiPIVctPcqZk3eg'

In [135]:
#Now let use geocoder to get coordinates from Madrid and its Neighborhood

madrid_coordinates = geocoder.geonames('Paris')
print(madrid_coordinates.latlng)

ValueError: Provide API Key